.daily-flex-item,
.flex-item {
    border: 1px solid;
    text-align: center;
    min-height: 50px;
    margin: .5px;
    overflow: auto;
    background-color: blanchedalmond;
    border-radius: 15px;
    font-weight: bold;
    margin: 1px;
    padding: 10px;
}
.daily-flex-item:hover,
.flex-item:hover {
    cursor: pointer;
    background-color: #e5e5e5
}
.current,
.daily-flex-item:hover,
.flex-item:hover {
    background-color: #e5e5e5
}
.daily-flex-container,
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}
.flex-item {
    position: relative;
    z-index: -10;
    width: 14%
}
.event-icon {
    float: left;
    position: relative;
    right: 0;
    top: -15px;
}
.daily-flex-item {
    width: 17.5%;
    padding-top: 14px;
    padding-bottom: 14px
}
.daily-event-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}
.daily-event-box {
    width: 50%
}
.daily-flex-item:nth-child(1),
.daily-flex-item:nth-child(7) {
    width: 5%
}
.days {
    font-weight: 800
}
.date {
    z-index: 10
}
.addEvent,
.monthSelect {
    z-index: 12
}
@media screen and (max-width: 400px) {
    .addEvent,
    .monthSelect {
        text-align: center;
        width: 100%
    }
    .addEvent,
    .daily-event-box,
    .flex-item {
        width: 100%
    }
    .addEvent,
    .daily-flex-container,
    .monthSelect {
        background-color: #fff;
        position: fixed
    }
    .days,
    .empty {
        display: none
    }
    #calendar-dates {
        margin-bottom: 100px
    }
    .monthSelect {
        bottom: 0
    }
    .addEvent {
        box-shadow: 0 -5px 5px grey;
        bottom: 35px
    }
    .mobile_date {
        display: block
    }
    .desktop_date {
        display: none
    }
    .daily-flex-item {
        width: 78%
    }
    .daily-flex-item:nth-child(1),
    .daily-flex-item:nth-child(7) {
        width: 10%
    }
    #event_detail_section {
        margin-bottom: 80px
    }
    .daily-flex-container {
        bottom: 10px;
        width: 90%;
        right: 5%;
        left: 5%
    }
}
@media screen and (min-width: 401px) and (max-width: 1000px) {
    .mobile_date {
        display: none
    }
    .desktop_date {
        display: block
    }
}
@media screen and (min-width: 1001px) {
    .mobile_date {
        display: none
    }
    .desktop_date {
        display: block
    }
}